hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape{
    display: none;
}


@media screen and (min-width: 1024px){

    .rodape{
        display: flex;
        font-size: 1.5rem ;
        padding: 2em 1em ;
        justify-content: space-around
    }
    
    .lista-rodape{
        font-size: 0.8rem;
        color: var(--cinza);
        display: block;    
    }
    
    .lista-rodape__titulo{
        text-transform: uppercase;
        color: var(--cinza-claro);
    }
    
    .lista-rodape__item{
        margin: 1em;
        display: flex;
        align-items: center;
    }
    
    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza-escuro);
        margin: 0.6em;
    }
    
}

@media screen and (min-width: 1728px) {
    
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
    
    .rodape{
        padding: 3em 0;
    }
    
    .lista-rodape__item :hover{
        color: var(--font-azul);
        font-size: 0.9rem;
    }
}
